@import '@/styles/fonts.css';
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';
@tailwind utilities;

html,
body {
  font-family: 'SF-Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: -0.005rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
}

:root {
  /* mac common */
  --traffic_base: #e3e3e3;

  /* mac light mode colors */
  --light-red: #ff3b30;
  --light-orange: #ff9500;
  --light-yellow: #ffcc00;
  --light-green: #34c759;
  --light-teal: #5ac8fa;
  --light-blue: #007aff;
  --light-indigo: #5856d6;
  --light-purple: #af52de;
  --light-pink: #ff2d55;
  --light-gray-01: #8e8e93;
  --light-gray-02: #aeaeb2;
  --light-gray-03: #c7c7cc;
  --light-gray-04: #d1d1d6;
  --light-gray-05: #e5e5ea;
  --light-gray-06: #f2f2f7;
  --light-font-active: rgba(60, 60, 67, 0.6);
  --light-windowFrame: #f6f6f6;
  --light-border: rgba(0, 0, 0, 0.3);
  --light-alert-bg: rgba(249, 249, 249, 0.78);

  /* mac dark mode colors */
  --dark-red: #ff453a;
  --dark-orange: #ff9f0a;
  --dark-yellow: #ffd60a;
  --dark-green: #32d74b;
  --dark-teal: #64d2ff;
  --dark-blue: #0a84ff;
  --dark-indigo: #5e5ce6;
  --dark-purple: #bf5af2;
  --dark-brown: #ac8e68;
  --dark-pink: #ff2d55;
  --dark-gray-01: #8e8e93;
  --dark-gray-02: #636366;
  --dark-gray-03: #48484a;
  --dark-gray-04: #3a3a3c;
  --dark-gray-05: #2c2c2e;
  --dark-gray-06: #1c1c1e;
  --dark-font-active: rgba(235, 235, 245, 0.6);
  --dark-windowFrame: #282828;
  --dark-profile-bg: rgba(118, 118, 128, 0.24);

  /* ========== instagram ========== */
  --insta-red: #fd0635;
  --insta-orange: #fa7e1e;
  --insta-yellow: #fcb045;
  --insta-blue: #0094f5;
  --insta-pink: #d62976;
  --insta-purple: #833ab4;
  --insta-gray-200: #efefef;
  --insta-gray-300: #d0d0d0;
  --insta-gray-500: #969696;
  --insta-gray-800: #464646;
  --insta-gray-900: #262626;
  --insta-overlay: rgba(0, 0, 0, 0.65);
  --insta-link-light: rgba(0, 55, 107, 1);
  --insta-link-dark: #004c8b;

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* font-size */
  --font-size-12: 0.75rem; /* 12px */
  --font-size-13: 0.8125rem; /* 13px */
  --font-size-14: 0.875rem; /* 14px */
  --font-size-16: 1rem; /* 16px */
  --font-size-17: 1.0625rem; /* 17px */
  --font-size-18: 1.125rem; /* 18px */
  --font-size-20: 1.25rem; /* 20px */
  --font-size-24: 1.5rem; /* 24px */
  --font-size-30: 1.875rem; /* 30px */
  --font-size-34: 2.125rem; /* 34px */
  --font-size-36: 2.25rem; /* 36px */
  --font-size-48: 3rem; /* 48px */

  /* border-radius */
  --rounded-7: 0.4375rem; /* 7px */
  --rounded-10: 0.625rem; /* 10px */
  --rounded-14: 0.875rem; /* 14px */
  --rounded-15: 0.9375rem; /* 15px */

  /* shadow */
  --shadow-inner: 0px -0.5px 0px 0px rgba(0, 0, 0, 0.05);
  --shadow-drop: 0px 0.5px 0px 0px rgba(0, 0, 0, 0.5);
}

@theme {
  /* mac common colors */
  --color-mac_traffic_base: var(--traffic_base);

  /* light mode colors */
  --color-mac_light-red: var(--light-red);
  --color-mac_light-orange: var(--light-orange);
  --color-mac_light-yellow: var(--light-yellow);
  --color-mac_light-green: var(--light-green);
  --color-mac_light-teal: var(--light-teal);
  --color-mac_light-blue: var(--light-blue);
  --color-mac_light-indigo: var(--light-indigo);
  --color-mac_light-purple: var(--light-purple);
  --color-mac_light-pink: var(--light-pink);
  --color-mac_light-gray01: var(--light-gray-01);
  --color-mac_light-gray02: var(--light-gray-02);
  --color-mac_light-gray03: var(--light-gray-03);
  --color-mac_light-gray04: var(--light-gray-04);
  --color-mac_light-gray05: var(--light-gray-05);
  --color-mac_light-gray06: var(--light-gray-06);
  --color-mac_light-font-active: var(--light-font-active);
  --color-mac_light-windowFrame: var(--light-windowFrame);
  --color-mac_light-border: var(--light-border);
  --color-mac_light-alert-bg: var(--light-alert-bg);

  /* dark mode colors */
  --color-mac_dark-red: var(--dark-red);
  --color-mac_dark-orange: var(--dark-orange);
  --color-mac_dark-yellow: var(--dark-yellow);
  --color-mac_dark-green: var(--dark-green);
  --color-mac_dark-teal: var(--dark-teal);
  --color-mac_dark-blue: var(--dark-blue);
  --color-mac_dark-indigo: var(--dark-indigo);
  --color-mac_dark-purple: var(--dark-purple);
  --color-mac_dark-brown: var(--dark-brown);
  --color-mac_dark-pink: var(--dark-pink);
  --color-mac_dark-gray01: var(--dark-gray-01);
  --color-mac_dark-gray02: var(--dark-gray-02);
  --color-mac_dark-gray03: var(--dark-gray-03);
  --color-mac_dark-gray04: var(--dark-gray-04);
  --color-mac_dark-gray05: var(--dark-gray-05);
  --color-mac_dark-gray06: var(--dark-gray-06);
  --color-mac_dark-font-active: var(--dark-font-active);
  --color-mac_dark-windowFrame: var(--dark-windowFrame);
  --color-mac_dark-profileBg: var(--dark-profile-bg);

  /* ========== instagram ========== */
  --color-insta_red: var(--insta-red);
  --color-insta-orange: var(--insta-orange);
  --color-insta_yellow: var(--insta-yellow);
  --color-insta_blue: var(--insta-blue);
  --color-insta_pink: var(--insta-pink);
  --color-insta_purple: var(--insta-purple);
  --color-insta_gray-200: var(--insta-gray-200);
  --color-insta_gray-300: var(--insta-gray-300);
  --color-insta_gray-500: var(--insta-gray-500);
  --color-insta_gray-800: var(--insta-gray-800);
  --color-insta_gray-900: var(--insta-gray-900);
  --color-insta_overlay: var(--insta-overlay);
  --color-insta_link-light: var(--insta-link-light);
  --color-insta_link-dark: var(--insta-link-dark);
}

@layer utilities {
  /* font weight */
  .font-thin {
    font-weight: var(--font-weight-thin);
  }
  .font-extralight {
    font-weight: var(--font-weight-extralight);
  }
  .font-light {
    font-weight: var(--font-weight-light);
  }
  .font-regular {
    font-weight: var(--font-weight-regular);
  }
  .font-medium {
    font-weight: var(--font-weight-medium);
  }
  .font-semibold {
    font-weight: var(--font-weight-semibold);
  }
  .font-bold {
    font-weight: var(--font-weight-bold);
  }
  .font-extrabold {
    font-weight: var(--font-weight-extrabold);
  }
  .font-black {
    font-weight: var(--font-weight-black);
  }

  /* font-size */
  .fs-12 {
    font-size: var(--font-size-12); /* 12px */
  }
  .fs-13 {
    font-size: var(--font-size-13); /* 13px */
  }
  .fs-14 {
    font-size: var(--font-size-14); /* 14px */
  }
  .fs-16 {
    font-size: var(--font-size-16); /* 16px */
  }
  .fs-17 {
    font-size: var(--font-size-17); /* 17px */
  }
  .fs-18 {
    font-size: var(--font-size-18); /* 18px */
  }
  .fs-20 {
    font-size: var(--font-size-20); /* 20px */
  }
  .fs-24 {
    font-size: var(--font-size-24); /* 24px */
  }
  .fs-30 {
    font-size: var(--font-size-30); /* 30px */
  }
  .fs-34 {
    font-size: var(--font-size-34); /* 34px */
  }
  .fs-36 {
    font-size: var(--font-size-36); /* 36px */
  }
  .fs-48 {
    font-size: var(--font-size-48); /* 48px */
  }

  /* border-radius */
  .rounded-7 {
    border-radius: var(--rounded-7);
  }
  .rounded-10 {
    border-radius: var(--rounded-10);
  }
  .rounded-14 {
    border-radius: var(--rounded-14);
  }
  .rounded-15 {
    border-radius: var(--rounded-15);
  }

  /* shadow */
  .shadow-inner {
    box-shadow: var(--shadow-inner);
  }
  .shadow-drop {
    box-shadow: var(--shadow-drop);
  }
}
